.reveal .clearfix {
  overflow: hidden;
  clear: both; }

.reveal .sls {
  background: #FD5750; }
  .reveal .sls a {
    color: #fff !important; }

.reveal .boxes {
  float: left;
  width: 50%; }
  .reveal .boxes:first-child {
    margin-right: 20px;
    width: calc(50% - 20px); }
  .reveal .boxes .outline {
    padding-top: 15px;
    border: .03em solid white; }
    .reveal .boxes .outline h4 {
      margin-bottom: 0; }
    .reveal .boxes .outline.pull-left {
      padding: 0 20px; }
      .reveal .boxes .outline.pull-left .kalarrs {
        font-size: 1em; }

.reveal .pull-left {
  float: left; }

.reveal .kalarrs {
  font-size: 1.1em;
  text-transform: lowercase; }
  .reveal .kalarrs:before {
    color: #bada55;
    content: '@'; }

.reveal table.t-0 tr {
  background: #42affa; }

.reveal table.t-1 tr:nth-child(1), .reveal table.t-1 tr:nth-child(2), .reveal table.t-1 tr:nth-child(3), .reveal table.t-1 tr:nth-child(4), .reveal table.t-1 tr:nth-child(6) {
  background: #42affa; }

.reveal table.t-2 tr:nth-child(1), .reveal table.t-2 tr:nth-child(2) {
  background: #42affa; }

.reveal table.t-3 tr:nth-child(1), .reveal table.t-3 tr:nth-child(2), .reveal table.t-3 tr:nth-child(3), .reveal table.t-3 tr:nth-child(4), .reveal table.t-3 tr:nth-child(6) {
  background: #42affa; }

.reveal table.t-4 tr:nth-child(1) {
  background: #42affa; }
